@import "tailwindcss";
@plugin "daisyui";

@import "./css/theme.css";
@import "./css/base.css";
@import "./css/components.css";
@import "./css/utilities.css";
@import "./css/animations.css";
@import "./css/mobile.css";
